@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
*{
    margin:0;
    padding:0;
}
#logo{
    width:150px;
}
.right_footer{
    display: flex;
    align-items: center;
}
.right_footer p{
    margin-top:30px;
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Comforter Brush', cursive;
    font-size: 20px;
}